body{
  background-color: #F2F2F2;
  margin: 10px;
  padding: 10px;

}
h1{
  height: auto;
  text-align: center;
  color: white;
}

.navbar{
  box-sizing:border-box;
	border: 1px solid #06425C;
	color:black;
  font-family: Arial, "Times New Roman", serif;
	font-size: 120%;
  background-image: url(http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg);
	overflow: auto;
	padding-left:200px;
}


.navbar a{
  box-sizing:border-box;
	display:inline-block;
	height:80px;
	color: #FFFFFF;
	background-color:#0000ff38;
	text-decoration: none;
	margin:1% 5% 1% 0;
	padding:1% 5%;
	border-radius: 10px;
}


.current{
	background-color:#800000;
}

.navbar a:hover{
	color:#000000;
  background-color: #ffffff57;
	border-radius: 0;

}


.gallery{
  box-sizing: border-box;
  border: 1px solid black;
  background-color: #0000ff75;
  display: inline-block;
  width: 270px;
  min-width: 200px;
  margin-right: 15px;
  height: 100vh;
  overflow: auto;
}
.gallery ul{
  list-style: none;
}

.gallery li{
  float: left;
  margin: 10px;
}

.gallery img{
  display: block;
  height: 150px;
  width: 180px;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 1px 1px 2px #000
}

.gallery img:hover{
  border: 1px solid #FFF;
}


section{
  display: inline-block;
  width: 70%;
  height: 100vh;
  overflow: auto;
}

#member {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#member td, #member th {
    border: 1px solid #ddd;
    padding: 8px;
}

#member tr:nth-child(even){background-color: #f2f2f2;}

#member tr:hover {background-color: #ddd;}

#member th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0000ff75;
    color: white;
}
